{% extends 'base.twig' %}

{% block content %}
    <h1 class="mt-5">Company profile</h1>

    <div class="mt-4">
        {% for key,value in company %}
            <p><b>{{ key }}:</b> {{ value }}</p>
        {% endfor %}
        <a href="{{ url_for('companies') }}">Back to list</a>
    </div>
{% endblock %}