{% extends 'base.twig' %}

{% block content %}
    <div class="app-fit-block-width text-center mx-auto">
        <h1 class="mt-5">Slim says you HELLO and WELCOME!</h1>
        <p class="lead mt-4">This is the twig content ^-^</p>

        <div class="main-content mt-3">
            <form action="/" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="search" value="{{ search }}" placeholder="Find your company" />
                    <div class="input-group-append">
                        <button class="btn btn btn-outline-success" type="submit">Search</button>
                        {% if search %}
                            <a class="btn btn-outline-secondary" href="{{ url_for('home') }}">Reset</a>
                        {% endif %}
                    </div>
                </div>
            </form>

            {% if foundData %}
                <div class="bordered">
                    <p>Hooray! You found something ^-^</p>
                    {% for company in foundData %}
                        <p><a href="{{ url_for('company', { 'id': company.id }) }}">{{ company.name }}</a></p>
                    {% endfor %}
                </div>
            {% elseif search %}
                <p>Sorry, we cannot find something suitable..</p>
            {% endif %}
        </div>
    </div>
{% endblock %}