{% extends 'base.twig' %}

{% block content %}
    <img style="max-width:400px;" src="/images/404_page_cover.jpg">

    <div>
        <a href="javascript:history.back()">Go Back</a>
    </div>
{% endblock %}
