{% extends 'base.twig' %}

{% block content %}
<h1>Adding new user</h1>

{% if errors %}
    <div class="errors">
        {% for field, errorTxt in errors %}
            <p><b>Field <i>{{ field }}</i>:</b> {{ errorTxt }}</p>
        {% endfor %}
    </div>
{% endif %}
<form action="{{ url_for('users') }}" method="post">
    <div>
        <label>Username:
            <input type="text" name="user[name]">
        </label>
    </div>
    <div>
      <label>E-mail:
            <input type="email" required name="user[email]">
        </label>
    </div>
    <div>
        <label>Phone:
              <input type="tel" required name="user[phone]">
          </label>
      </div>
    <input type="submit" value="Add">
</form>
{% endblock %}