{% extends 'base.twig' %}

{% block content %}
<h1 class="mt-5">Adding new user</h1>

<div class="mt-4">
    {% if errors %}
        <div class="errors">
            {% for field, errorTxt in errors %}
                <p><b>Field <i>{{ field }}</i>:</b> {{ errorTxt }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <form action="{{ url_for('users') }}" method="post">
        {{ include('users/form_fields.twig') }}

        <div class="form-group row">
            <div class="col-sm-5">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}